@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.navbar__main {
  position: fixed;
  z-index: 1;
}

.dropbtn {
  color: white;
  font-size: 16px;
  border: none;
  padding: -5px;
  margin-top: -8px;
  margin-left: -10px;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 100px;
  border-radius: 15px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 5px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  border-radius: 15px;

}

.App:hover .dropdown-content {
  display: block;
}

a {
  text-decoration: none;
}
li {
  list-style-type: none;
}
.navbar ul li:hover {
  background-color: #f6c2c4;
  transition: 0.5s;
  color: #fff;
  border-radius: 5px;
}
.navbar__main {
  width: 100%;
}
.navbar__main .navbar__top {
  display: flex;
  justify-content: space-between;
  padding: 0px 15px;
  background: #000;
  gap: 10px;
  flex-wrap: wrap;
  width: 100%;
  z-index: 10;
  color: #ccc;
  font-size: 13px;
}
.navbar__top .left {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  padding: 7px 0px;
  align-items: center;
}
.navbar__top .right ul {
  gap: 15px;
  display: flex;
}
.navbar__top .right {
  align-items: center;
  display: flex;
}
.navbar__top .right ul li a {
  color: #ccc;
}
.navbar {
  background-color: #fff;
  display: flex;
  width: 100%;
  z-index: 1;
  position: fixed;
  justify-content: space-around;
  align-items: center;
}
.logo {
  text-align: center;
  cursor: pointer;
}
.logo img {
  width: 120px;
  margin-top: 5px;
}
.nav-links {
  display: flex;
  justify-content: flex-end;
  width: 75%;
}

.nav-links li {
  color: black;
  font-size: 16px;
  padding: 10px 15px;
  margin: 0 10px;
  cursor: pointer;
  text-transform: capitalize;
  transition: 0.3s;
}

.navbar ul :hover {
  color: #f6c2c4;
  transition: 0.3s;
}
.hero {
  text-align: center;
  margin-top: 15%;
}
.hero h1 {
  text-align: center;
  font-size: 80px;
}
.mobile-menu-icon {
  display: none;
}
button {
  border: none;
  text-decoration: none;
  font-size: 20px;
  background: none;
}
@media (max-width: 768px) {
  .navbar__main {
    position: relative;
  }
  .navbar__main .navbar {
    background-color: #fff;
    height: 70px;
    position: relative;
  }
  .navbar__main .navbar .logo {
    display: flex;
    top: 10px;
    left: 35px;
  }
  .navbar__main .navbar .logo img {
    width: 25%;
  }
  .navbar__main .navbar .nav-links {
    display: none;
  }
  .nav-links-mobile {
    position: absolute;
    display: block;
    list-style: none;
    box-shadow: rgba(50, 50, 93, 0.23) 0px 50px 100px -20px,
      rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    left: 0;
    top: 10%;
    transition: 0.5s;
    width: 100%;
    background-color: white;
  }
  .navbar ul :hover {
    color: #f6c2c4;
    transition: 0.3s;
  }

  .navbar__main .navbar ul :hover {
    background-color: #fff;
    color: #f6c2c4;
  }
  .navbar ul {
    margin-top: 60px;
  }
  .navbar ul li {
    color: #000;
    border-bottom: 1px solid #ccc;
    padding: 10px;
    width: 100%;
    transition: all 0.5s ease-in-out;
  }
  .mobile-menu-icon {
    display: block;
    padding-right: 20px;
  
  }
  .hero h1 {
    font-size: 50px;
  }
  .navbar__main .navbar__top {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
}
